@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000000;
  font-family: "Montserrat";
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  gap: 1.25rem;
  gap: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.header__navigation > li > a {
  color: #ffffff;
  text-decoration: none;
}

.hero__container {
  margin: 0 auto;
}

.hero__background {
  margin-top: 6rem;
  background: url("../src/hero/bg-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 4rem;
}

.hero__text__block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  width: 100%;
}

.hero__button{
    padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 2.5rem;
padding-right: 2.5rem; 
border-radius: 1.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 700; 
background-color: #ffffff; 
font-family: 'Montserrat';
}

.hero__paragraph{
    max-width: 600px;
}

.header__image__avatar {
  border-radius: 50%;
  border-width: 4px;
  border-color: #ffffff;
}

.search-container {
  margin: 20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: calc(50% - 15px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.results-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
